<div aria-hidden="true" style="margin: 50px; padding: 10px; border: 1px dotted #ccc">
    <em>This content has aria-hidden</em>

    <p>Features:</p>
    <ul>
        <li>
            Field validation
            <ul>
                <li>Fields are marked as invalid only if they are marked as $dirty or form was submitted</li>
                <li>
                    aria-label attribute is referencing the actual label, but also the ng-messages for that field.
                    This enables the user to hear the current form error when focusing on a field that is marked as invalid.<br>
                    <button ng-click="reproduceAriaLabel = !reproduceAriaLabel">Reproduction scenario</button>
                    <ol ng-show="reproduceAriaLabel">
                        <li>enable screen reader</li>
                        <li>focus on email</li>
                        <li>enter 'a'</li>
                        <li>remove 'a', required error is shown</li>
                        <li>press tab</li>
                        <li>press shift+tab and listen</li>
                    </ol>
                </li>
                <li>
                    Backend field errors are set using $setValidity on the modelController. Scope watchers are bound to
                    call $setValidity true when the value changes. Restoring the value to what was previously submitted
                    will trigger the error again.
                </li>
            </ul>
        </li>
        <li>
            Form and subform validation
            <ul>
                <li>
                    The form can be marked invalid without having fields marked as invalid. This is done by
                    calling $setValidity on the formController. Currently this is only done by backend errors and
                    is non-blocking; the errors are cleared when submitting.
                </li>
                <li>
                    Subforms can be marked invalid without having its fields marked as invalid. This is useful for
                    login forms where both username and password could be invalid in which case it would not make
                    sense to mark the username and password as invalid. Instead, an error can be shown in the form
                    subsection. The containing fields will be able to receive focus when Error focus is enabled.<br>
                    <button ng-click="reproduceSubformError = !reproduceSubformError">Reproduction scenario</button>
                    <ol ng-show="reproduceSubformError">
                        <li>enable screen reader</li>
                        <li>fill in form</li>
                        <li>check the 'backend phone not recognized error'</li>
                        <li>submit</li>
                        <li>notice how the phone subform shows an error, but fields are not marked as invalid</li>
                        <li>enable Error focus by clicking 'Click to focus on errors only'</li>
                        <li>notice how focus moves to the subform, reading the form error</li>
                        <li>press tab, notice how focus moves to the 'country code' field</li>
                        <li>
                            also notice how the form can be resubmitted without changing any data due to the fact
                            that the phone cannot be validated on the frontend
                        </li>
                    </ol>
                </li>
            </ul>
        </li>
    </ul>

    <button ng-click="showMoreRambling = !showMoreRambling">Show more rambling</button> <br>
    <div ng-show="showMoreRambling">
        <p>What should we notice on this page:</p>
        <ul>
            <li>Frontend validation errors are communicated instantly per field on field change</li>
            <li>Form field errors should not be shown on 'clean' inputs, unless form is submitted</li>
            <li>On submit, before sending, a top error should be shown and focused
                on if frontend errors are present and sending should be blocked</li>
            <li>On submit, after sending, a top error should be shown and focused on if backend errors are present</li>
            <li>On submit, any non-blocking errors that have no frontend validation should be cleared</li>
            <li>Error focus: the top error contains a link that changes the tabindex to allow users to tab through error fields/subforms
                if these can be detected</li>
            <li>Error focus can be reset with a link or when pressing the Escape button from within the form</li>
            <li>When enabling Error focus an aria-live="polite" message should inform the user about being
                able to reset it using the escape button</li>
            <li>When disabling Error focus an aria-live="polite" message should inform the user about it being disabled</li>
            <li>Invalid fields should be marked with aria-invalid=true</li>
        </ul>
        <p>Error handling:</p>
        <ul>
            <li>Errors that cannot be validated on the frontend should be non-blocking for a submission</li>
            <li>
                Errors that are not generated by Angular:
                <ul>
                    <li>
                        Errors from backend should be able to mark a form as invalid / show form error, i.e.:
                        <ul>
                            <li>500 internal server error (no fields)</li>
                            <li>Account too similar to previously registered account (no fields)</li>
                            <li>Address not recognized (error spans multiple fields)</li>
                            <li>Phone not recognized (error spans multiple fields)</li>
                        </ul>
                    </li>
                    <li>
                        Errors from backend should be able to mark a form field as invalid, i.e.:
                        <ul>
                            <li>Email address in use (blocking, value change removes error)</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <em>End of aria-hidden content</em>
</div>